*{
	margin: 0;
	padding: 0;
}
ul{ list-style: none;}

body{
	font-family: Tahoma;
	font-size: 14px;
	color: #222;
}
.header, .footer, .main{
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	background: #ccc;
	position: relative;
	height: 35px;
	z-index: 1;

}

.link-menu,
.title-header{
	display: inline-block;
}
.link-menu {
	position: relative;
	padding-left: 2.5em;
	text-indent: -9999px;
}

.link-menu:before {
	content: "";
	position: absolute;
	left: 0;
	top: -5px;
	width: 1.2em;
	height: 0.16em;
	background: #003;
	box-shadow: 0 0.30em 0 0 #000, 0 0.6em 0 0 #000;
	font-size: 24px;
}

.main{
	background: blue;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer{
	clear: both;
}
.container{
	overflow: hidden;
}

/* Lateral*/

/*.sidebar,
.show-sidebar .sidebar{
	transition: all linear 0.05s;
	-moz-transition: all linear 0.05s;
	-webkit-transition: all linear 0.05s;
}*/


.sidebar{
	background: #333;
	float: left;
	margin-left: -250px;
	width: 250px;

}
.show-sidebar .sidebar{
	margin-left: 0;
}
.menu{
	padding: 15px;
}
.menu a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

/* Exceções sidebar exibida */

/*.show-sidebar  .title-header{
	display: none;
}*/
.show-sidebar  .link-menu{
	margin-top: 15px;
}
.show-sidebar{overflow: hidden;}
.show-sidebar .container{
	position: absolute;
	left: 250px;
	top: 0;
	width: 100%;
}

@media (min-width: 600px) {
	.link-menu{
		display: none;
	}
	.sidebar{
		margin-left: 0;
	}


}

