*{
	margin: 0;
	padding: 0;
}
ul{ list-style: none;}

body{
	font-family: Tahoma;
	font-size: 14px;
	color: #222;
	min-height: 100%;
	height: inherit;
}
.header, .footer, .main{
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	background: #ccc;
	position: relative;
	height: 35px;
	z-index: 1;

}
.link-menu,
.title-header{
	display: inline-block;
}

.main{
	background: blue;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer{
	clear: both;
}
.container{
	overflow: hidden;
}

/* Lateral*/

.sidebar,
.show-sidebar .sidebar{
}

.sidebar{
	background: #333;
	float: left;
	margin-left: -250px;
	width: 250px;
	height: 100%;

}
.show-sidebar .sidebar{
	margin-left: 0;
}
.menu{
	padding: 15px;
}
.menu a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

@media (min-width: 600px) {
	.link-menu{
		display: none;
	}
	.sidebar{
		margin-left: 0;
	}

}

