*{
	margin: 0;
	padding: 0;
}
ul{ list-style: none;}

body{
	font-family: Tahoma;
	font-size: 14px;
	color: #222;
}
.header, .footer, .main{
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	background: #ccc;
	position: relative;
	height: 35px;
	z-index: 1;

}
/*.header .limit{
	margin-left: 290px;
}*/
.title-header{
	display: inline-block;
}

.main{
	background: blue;
	padding-top: 15px;
	padding-bottom: 15px;
}


.footer{
	clear: both;
}
.container{
	overflow: hidden;
}


.sidebar{
	background: #333;
	float: left;
	width: 250px;
}
.menu{

	padding: 15px;
	/*position: relative;
	top: -35px;*/
}
.menu a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}



